<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置数据源，交给Spring去做-->

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.john.pojo"/>

    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据源：创建Connection对象-->
            <dataSource type="POOLED">
                <!-- driverL驱动内容 -->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- 连接url-->
                <property name="url"
                          value="jdbc:mysql://localhost:3306/book?useUnicode=true&amp;characterEncoding=utf-8"/>
                <!-- 用户名-->
                <property name="username" value="root"/>
                <!-- 密码-->
                <property name="password" value="zhangshen1998"/>

            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="com/john/dao/UserDao.xml"/>
    </mappers>


</configuration>